@import './App.scss';

.App-footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

svg[data-icon=envelope]{
    padding-right: 0.25em;
}

svg[data-icon=xing]{
    padding-right: 0.25em;
}

svg[data-icon=linkedin]{
    padding-left: 0.25em;
}