@import './App.scss';

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

svg[data-icon=copyright]{
    padding-right: 5px;
}

svg[data-icon=xing]{
    padding-right: 5px;
}

svg[data-icon=linkedin]{
    padding-left: 5px;
}