@import './App.scss';

.App-list-btns {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 200px;
}

svg[data-icon=check]{
    padding-right: 0.25em;
}

svg[data-icon=times]{
    padding-right: 0.25em;
}