@import './App.scss';

.App-lists{
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 300px;
}

li{
    padding-top: 5px;
    padding-bottom: 5px;
}

li:hover {
    border-top: 0.5px solid $primary-color;
    border-bottom: 0.5px solid $primary-color;
    z-index: 9999;
}